extends ../includes/layout.pug

append resources
  title Add stock
  link(href='../vendor/dropzone.min.css' rel='stylesheet')
  script(src="../vendor/dropzone.min.js")
  script(src="../js/fileupload.js" defer)
  
append body
  input#id(type='hidden' value=id)
  .col-md-10.mx-auto
    .card
        .card-body
          if editing
            .dropzone.rounded.mb-5#dropzone
          .row.my-1
            if pics
              each pic, index in pics
                .col-xs-12.col-lg-2.mr-3
                  img.demo.thumb-img.rounded(src='../uploads/' + pic.name style='width:100%')
                  input.my-2(type='text' id='picName-' + index value=pic.num || '' style='width: 100%')
                  button.btn.btn-outline-primary.form-control.mb-3(onclick='edit(' + index + ', "' + pic.name + '")') Edit
                  button.btn.btn-outline-danger.form-control.mb-5(onclick='delete_image("' + pic.name + '")') Delete
          .form-group.mt-3
            form(action='/addfish' method='POST')
              input(type='hidden' name='editing' value=editing? 'true' : 'false')
              .form-group
                h3 
                  strong Fish name
                input.form-control(type='text' name='name' placeholder='Enter name here' value= editing? name : "")
              .form-group
                h3 
                  strong Description
                textarea.form-control(name='description' placeholder='Enter description here')= editing? description : ""
              .form-group
                h3 
                  strong ID
                input.form-control(type='number' name='id' value=editing? id : "-1")
              .form-group
                h3 
                  strong Price
                input.form-control(type='number' step='any' name='price' value=editing? price : "0")
              .form-group
                h3 
                  strong Minimum gallons
                input.form-control(type='number' name='ming' value=editing? ming : "0")
              .form-group
                h3 
                  strong Quantity
                input.form-control(type='number' name='quantity' value=quantity || '1')
              .form-group
                h3 
                  strong Reef safe?
                input(type='radio' id='reefsafe' name='rs' value='true' checked=rs? true : false)
                label(for='reefsafe') Reef safe
                br
                input(type='radio' id='nrs' name='rs' value='false' checked=rs? false : true)
                label(for='nrs') Not reef safe
              .form-group
                h3
                  strong Aggressive?
                input(type='radio' id='aggr' name='ag' value='ag' checked=ag === 'ag ' ? true : false)
                label(for='aggr') Aggressive
                br
                input(type='radio' id='caggr' name='ag' value='cag' checked=ag === 'cag' ? true : false)
                label(for='caggr') Aggressive to conspecifics
                br
                input(type='radio' id='naggr' name='ag' value='nag' checked=ag === 'nag' ? true : false)
                label(for='naggr') Non-aggressive
              input.btn.btn-primary.mr-2(type='submit' value='Submit')
              a.btn.btn-danger(href='/deleteproduct=' + id) Delete
              
              
