extends ../includes/layout.pug

append resources
  form(action='/create_payment' method='post' id='paymentform')
append body
  .col-xs-12.col-md-8.col-lg-6.ml-auto
    .card.mb-2
      .card-header Cart
      .card-body
        if (flash.length > 0)
          .alert.alert-info.text-center
            = flash
        .table-responsive#mobile-table
          table.table.mobile-table
            thead
              tr.text-center.small.text-muted
                th.text-left Item
                th Amount
                th Price
                th Total
            tbody
              each item, index in cart.items
                tr.text-center
                  td.text-left.px-1.float-left
                    a(href='/viewproduct=' + item.sku)
                      img.checkout-img.img-fluid.img-thumbnail(src='/main?sku=' + item.sku)
                  td.px-0.text-left.float-left
                    a(href='/viewproduct=' + item.sku): h6.mb-0= item.name
                    a(href='/remove/' + item.sku + '/' + cart.amount[index]): small.text-muted remove 
                  td.clear(data-title='Amount:')
                    span #{cart.amount[index]}
                  td(data-title='Price:')
                    span $#{item.price}
                  td.cst(data-title='Total:')
                    span $#{(item.price*cart.amount[index]).toFixed(2)}
  .col-xs-12.col-md-4.mr-auto 
    .card.mb-3
      .card-header Order 
      .card-body
        .row
          .col-6.text-left
            span.font-weight-bold Subtotal:
            br 
            //- span Sales tax:
            //- br
            span Shipping:
          .col-6.text-right
            span.font-weight-bold $#{cart.subtotal}
            br
            //- span $#{cart.salestax}
            //- br
            span $#{cart.shipping}
        hr
        .row 
          .col-6.text-left
            strong Total
          .col-6.text-right.font-weight-bold= '$' + cart.total
        if cart.items.length != 0
          input.btn.btn-outline-primary.form-control.mt-2(type='submit' value='Checkout' form='paymentform')
        else 
          a.btn.btn-outline-primary.form-control.mt-2(href='/') Continue Shopping
