extends ../includes/layout.pug

append resources
  
append body
  .col-12
    .card
      .card-header Orders
      .card-body
        .table-responsive#mobile-table
          table.table.mobile-table
            thead
              tr.text-center.small.text-muted
                th.text-left Order ID
                th Date
                th Name
                th Shipped
            tbody
              if orders.length
                each order, index in orders
                  tr.text-center.mb-3
                    td.text-left.px-1
                      a(href='/thankyou?oid=' + order.cid)
                        h6.mb-0= order.cid
                    td.px-0
                      span= order.date
                    td.clear(data-title='Name:')
                      span= order.fn + ' ' + order.ln
                    td(data-title='Shipped:')
                      span= order.shipped != 'false'
              else
                tr.text-center.mb-3
                  td.text-left.px-1
                    a(href='/thankyou?oid=' + orders.cid)
                      h6.mb-0= orders.cid
                  td.px-0
                    span= orders.date
                  td.clear(data-title='Name:')
                    span= orders.fn + ' ' + orders.ln
                  td(data-title='Shipped:')
                    span= orders.shipped != 'false'
