extends ../includes/layout.pug

append resources
  title Shark Reef Exotics
    
append body
  .col-xs-12.col-lg-6.ml-auto.mb-2
    .card
      .card-header Review Your Order
      .card-body
        if (flash.length > 0)
          .alert.alert-primary.text-center
            = flash
        .row
          .col-xs-12.col-lg-6.mb-4
            h6 Customer Info
            span=fn + ' ' + ln
            br
            span=pn
            br
            h6 Shipping
            span= shipped != 'false'? shipped : 'Not yet shipped.'
          .col-xs-12.col-lg-6
            h6 Order Info
            span.font-weight-bold.small Order Date: 
            p=date
            span.font-weight-bold.small Order Confirmation: 
            p#cid=cid
            
  .col-xs-12.col-lg-4.order-xs-12.mr-auto 
    .card#order-card
      .card-header Order 
      .card-body
        .row
          .col-6.text-left
            span.font-weight-bold Subtotal:
            br 
            span Shipping:
          .col-6.text-right
            span.font-weight-bold $#{cart.subtotal}
            br
            span $#{cart.shipping}
        hr
        .row 
          .col-6.text-left
            strong Total
          .col-6.text-right.font-weight-bold $#{cart.total}
  .col-xs-12.col-lg-6.order-xs-1.ml-auto.mt-2
    .card#item-card.mb-3
      .card-header Items
      .card-body
        table.table#mobile-table
          thead
            tr.text-center.small.text-muted
              th.text-left Item
              //- th &nbsp;
              th Amount
              th Price
              th Total
          tbody
            each item, index in cart.items
              tr.text-center
                td.text-left.px-1.float-left
                  a(href='/viewproduct=' + item.id)
                    img.checkout-img.img-fluid.img-thumbnail(src='../media/' + item.id + '-1.jpg')
                td.px-0.text-left.float-left
                  a(href='/viewproduct=' + item.id): h6.mb-0= item.name
                td.clear(data-title='Amount:')
                  span=cart.amount[index]
                td(data-title='Price:')
                  span= '$' + item.price
                td.cst(data-title='Total:')
                  span $#{(item.price*cart.amount[index]).toFixed(2)}
  .col-xs-12.col-lg-4.mr-auto
    if aauth
      .card
        .card-header Admin
        .card-body
          h6 Shipping Address
          span= line1 + ', ' + city + ' ' + state + ' ' + postal_code
          .input-group.mt-3.mb-3
            input#track.form-control(type='text' placeholder='Tracking Number')
            .input-group-append
              button.btn.btn-primary(onclick='ship()') Update
          button.btn.btn-danger(onclick='deleteorder()') Delete
append footer
  if aauth
    script.
      function deleteorder() {
        var cid = $('#cid').html();
        if (confirm('Delete this order?'))
          location.replace('/deleteorder?cid=' + cid)
      }
      
      function ship() {
        var tracking = $('#track').val();
        var cid = $('#cid').html();
        location.replace('/setshipping?cid=' + cid + '&tracking=' + tracking);
      }
