extends ../includes/layout.pug

append resources
  title= localUsername
  form(action="/delete/" + localId method='GET' id='delete')
  form(action="saveMessage" method='POST' id='save')
  
append body
  - var index = owner ? 0 : 1

  input(type='hidden' id='id' name='id' value=localId)

  .row
      .col-md-5.ml-auto
          .card.mb-2
            .card-body
              if (owner || aauth)
                input.float-right(type='submit' class='btn btn-danger' value='Delete' form='delete')
              br
              .row.mt-4
                  //- .col-1.ml-5.mr-1
                  img.ml-5(src='/photo/' + localId)
                  //- .col-8.ml-1
                  h2.ml-3='Username '
                      span.badge.badge-primary= localUsername
      .col-md-5.col-xs-12.mr-auto
          if(owner || messages.length > 0)
              .card
                if (owner)
                  .form-group
                    .row
                      .col-md-8.col-xs-7.mx-auto.my-3
                        textarea.form-control.static(rows=5 form='save' name='message')
                    .row
                      .col-8
                      input.ml-4(type='submit' class='btn btn-info' value='Submit' form='save')
                  br
                ul.list-group
                    each message in messages
                        li.list-group-item.message.text-center(@mouseover='hover')= message.text
                          //a
                            button.message-delete.btn.btn-danger.btn-sm(@click="deleteMessage(message.id)") Delete
    
